{{#partial "content"}}

<!--    <div class="row">-->
<!--        <div class="col-sm-6">-->
<!--            <div class="well" style="width:45%;opacity:0.8;margin-left:51%;margin-top:7%">-->
                <h1 style="font-weight:bold"></h1>

                <form action="/" method="post">
                    <label for="name" style="margin-left:7px;">Name</label>
                    <input id="name" name="name" type="text" style="margin-left:8.2%;">
                    <br>
                    <br>
                    <label for="employees" style="margin-left:7px;">Employees </label>
                    <input id="employees" name="employees" type="number" style="margin-left:8.2%;">
                    <br>
                    <label for="description">Description</label>
                    <textarea id="description" name="description" placeholder="Write something.." style="height:200px"></textarea>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-default">New Department</button>
                </form>
<!--            </div>-->

<!--        </div>-->


<!--    </div>-->

{{/partial}}

{{> layout.hbs}}