<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}organisation{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" style="font-weight:bold"><a href="/">Home</a></li>
    <li role="presentation" style="font-weight:bold"><a href="/one">Department</a></li>
    <li role="presentation" style="font-weight:bold"><a href="/four">User</a></li>
    <li role="presentation" style="font-weight:bold"><a href="/seven">News</a></li>
</ul>

<br>
<br>
<div class="col-md-12">
    {{#block "content"}}
    {{/block}}

</div>

{{#block "footer"}}
    <footer class="footer">

    </footer>
    </body>
    </html>
{{/block}}
