{{#partial "content"}}

<!--    <div class="row">-->
<!--        <div class="col-sm-6">-->
<!--            <div class="well" style="width:45%;opacity:0.8;margin-left:51%;margin-top:7%">-->
                <h1 style="font-weight:bold"></h1>

                <form action="/" method="post">
                    <label for="heading" style="margin-left:7px;">Heading</label>
                    <input id="heading" name="heading" type="text" style="margin-left:8.2%;">
                    <br>
                    <label for="news">News</label>
                    <br>
                    <select>
                        <option value="general news">General News</option>
                        <option value="department news">Department News</option>
                    </select>
                    <br>
                    <label for="news">News</label>
                    <textarea id="news" name="news" placeholder="What's new??.." style="height:200px"></textarea>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-default">Add News</button>
<!--                </form>-->
<!--            </div>-->

<!--        </div>-->


<!--    </div>-->

{{/partial}}

{{> layout.hbs}}