{{#partial "content"}}

<!--    <div class="row">-->
<!--        <div class="col-sm-6">-->
<!--            <div class="well" style="width:45%;opacity:0.8;margin-left:51%;margin-top:7%">-->
                <h1 style="font-weight:bold"></h1>

                <form action="/" method="post">
                    <label for="department_id" style="margin-left:7px;">Department ID</label>
                    <input id="department_id" name="department_id" type="number" style="margin-left:8.2%;">
                    <br>
                    <label for="position" style="margin-left:7px;">Position</label>
                    <input id="position" name="position" type="text" style="margin-left:8.2%;">
                    <br>
                    <label for="role">Role</label>
                    <textarea id="role" name="role" placeholder="Write your role.." style="height:200px"></textarea>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-default">Add User</button>
                </form>
<!--            </div>-->

<!--        </div>-->


<!--    </div>-->

{{/partial}}

{{> layout.hbs}}